# SMTP config assumes DAVMail is running SMTP on port 1025
# Note:
# - configure DAVMail in ~/.sony-davmail.properties
# - create a file that assigns smtp pass to variable ACCT
#   and encrypt it using gpg
# Before use: `mv muttrc-auth.template muttrc`
# and edit `from` and `smtp_url` fields
set smtp_authenticators = "login"
set from = "email@addr.ess"
set smtp_url = "smtp://user@localhost:1025"
set smtp_pass = "$ACCT"

