/*
 * Copyright 2021 Sony Mobile Communications Inc.
 * SPDX-License-Identifier: MIT
 */

/**
 * In order to customize the style of the report, set values of
 * customizable elements in your.name.css file.
 *
 * Customizable elements:
 *  h1 - customize head of email
 *  h2 - customize section title
 *  ul - customize bullet list block
 *  ul li
 *    - To customize the project title, modify `ul li` element.
 *      This will set the style for the whole block, so you will
 *      have to reset in the subsequent `ul li` children.
 *    - note that Outlook doesn't render nth-child.
 *  ul ul - customize bullet list child
 *  ul ul li
 *    - If you customized the `ul ul` or `ul li` element, this is where you
 *      reset the customization if you need to style the individual
 *      lines of the list.
 *  ul ul li a - link to Gerrit URL
 *
 */
h1 {
    display: none;
}
h2 {
    font-weight: normal;
    font-size: 162%;
}
ul li {
    font-style: italic;
}
ul ul {
    margin-bottom: 1em;
}
ul ul li {
    font-style: normal;
}
